.map-wrapper {
    position: relative;
    width: 700px;
}

.map-image {
    width: 100%;
    display: block;
    border: 2px solid #444;
    border-radius: 10px;
    background: #000;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

.callout {
    fill: rgb(0 150 255 / 25%);
    stroke: rgb(0 150 255 / 50%);
    stroke-width: 3;
    cursor: pointer;
    transition: 0.2s;
}

.callout:hover {
    fill: rgb(0 200 255 / 45%);
    stroke: cyan;
    stroke-width: 4;
}

.callout.selected,
.callout.selected:hover {
    fill: rgb(255 200 0 / 50%);
    stroke: gold;
    stroke-width: 4;
}

.map-overlay.drawing .callout {
    pointer-events:none;
}

/* =========================
   MAP MENU
========================= */

#maps-menu {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}